body{
    background: url('../img/author.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login{
    width: 75%;
    height: 500px;
    margin: 20px auto;
}
.head{
    color: #fff;
    font-weight: bold;
    margin:30px 0
}
.log{
    padding: 40px;
}
.read{
    color: #000000;
    background-color: #ffffff;
    text-align: center;
}
p{
    line-height: 30px;
}
.read h4{
    margin: 25px 0 ;
}
.read .social i{
    padding: 15px;
    font-size: 18px;
    margin: 1px;
    border: 2px solid red;
}

.read span{
    color: red;
}
.form{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.664);
}
.form-control{
    background: none;
    border: 2px solid #fff;
    border-radius: 0;
    padding:25px;
}
input{
    background-color: rgb(179, 6, 6);
    border: 1px solid rgb(179, 6, 6);
    padding:15px 35px;
    margin-top: 15px;
    font-size: 16px;
}
@media(max-width:767px){
    .login{
        width: 95%;
    }
}